
 <table class="table table-striped">
   <tr *ngFor="let news of listNews" (click)="doSelectNews(news)">
     <td>
       <p><small>автор:</small> <br>{{news.writer}} </p>
       <p><small>дата публикации:</small><br> {{news.published}}</p>
     <p><small>liks:</small> {{news.liks}}</p>
     </td>
     <td>
       <div *ngIf="news.urlPhoto_big" class="forImg">
       <a href="#{{news.writer}}" data-toggle="modal" ><img src="{{news.urlPhoto_small}}"></a>

       <div class="modal fade" id="{{news.writer}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-body">
               <img src="{{news.urlPhoto_big}}" width="100%">
             </div>
           </div>
         </div>
       </div>
       </div>
     </td>
     <td>
       <blockquote>
         <span [innerHtml]="news.shortText"></span>
       </blockquote>
       <span class="badge badge-primary" (click)="doSelectNews(news)" routerLink="/news" > Подробнее...</span>
     </td>

   </tr>
 </table>

<!--TODO увеличенную картинку уместить в див-->
