
 <table class="table table-striped">
   <!--<tr>
     <th>№</th>
     <th>Автор</th>
     <th>Новость</th>
     <th>Изображения</th>
     <th>Дата публикации</th>
     <th>Лайки</th>
   </tr>-->
   <tr *ngFor="let news of listNews" (click)="doSelectNews(news)">
     <td >
        автор: {{news.writer}} <br>
        списко фотографий: {{news.list_photo}}<br>
        дата публикации: {{news.published}}<br>
        liks: {{news.liks}}
     </td>
     <td>
       {{news.shortText}}
       <div class="nav-link" > Подробнее:</div>
     </td>

   </tr>
 </table>

