<div class="main-card card">
  <form class="">
    <div class="form-group">
    <label for="search">Введите слова для поиска</label>
    <input type="text" id="search" class="form-control" [(ngModel)]="searchWords" name="searchWords"><br>
    <input type="submit" class="btn-secondary btn btn-lg" value="найти" (click)="searchNews(searchWords)">
    </div>
  </form>
</div>
// TODO показать сообшение, что данный отправлены
  <ul>
    <li *ngFor="let news of user">
      {{news.id}}
      {{news.first_name}}
    </li>
  </ul>
