<!--<h1>
  {{title}}
  <div *ngIf="selectedNews">
  <input [(ngModel)]="selectedNews.id" placeholder="id" (onchange)="onSelect(news)">
    {{selectedNews.text}}
  <!--{{news.id}}-->
  <!--{{news.name}}-->
  <!--{{news.liks}}-->
 <!-- </div>
</h1>
<ul>
  <li *ngFor="let news of listNews" (click)="onSelect(news)">
    {{news.id}}
    {{news.text}}
    {{news.liks}}
  </li>
  <div *ngIf="selectedNews">
    {{selectedNews.text}}
  </div>

  <app-test-news></app-test-news>
</ul>
-->

<app-header></app-header>

  <div class="container">

    <router-outlet></router-outlet>
    <!--<app-search-news></app-search-news>-->
    <!--<app-list-news></app-list-news>-->
  </div>
<app-footer></app-footer>


